{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block alert %}
    <h4 class="alert-heading">Hello MS Band!</h4>
    <p>This is a simple tool to help band students learn their scales and identify notes for the common major scales.<br>
        You can begin by choosing the scale and clef to practice below.<br>
        For transposing instruments, a chart is provided below to help you convert your scale to concert pitch.<br>
        As more people start practicing, the highest scores will get featured in the leaderboard. Have fun!</p>
    <hr>
    <p class="mb-0">If you find any issues with the site, have suggestions/feedback, please reach me at iaggarwal.23@asdubai.org<br>
        ~ Ibhan Aggarwal</p>
{% endblock %}

{% block main %}
    <form action="/scales" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="scale">
                <option disabled selected>Choose Major Scale</option>
                <option value="C-major">Concert C Major</option>
                <option value="F-major">Concert F Major</option>
                <option value="Bb-major">Concert B&#x266d Major</option>
                <option value="Eb-major">Concert E&#x266d Major</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="clef">
                <option disabled selected>Choose Clef</option>
                <option value="treble-clef">Treble</option>
                <option value="bass-clef">Bass</option>
            </select>
        </div>
        <div class="mb-4">
            <input class="btn btn-primary" type="submit" value="Go to Scale">
        </div>
    </form>

    <div class="mb-1">
        <h6>Below is a table to help transposing instruments find the concert scale.</h6>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>[Concert Pitch] C Instruments: <br>Flute/Percussion/Tuba/Trombone/Baritone</th>
                <th>B&#x266d Instruments: <br>Clarinet/Trumpet/Tenor Sax</th>
                <th>E&#x266d Instruments: <br>Alto Sax/Bari Sax</th>
                <th>F Instruments: <br>French Horn</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C</td>
                <td>D</td>
                <td>A</td>
                <td>G</td>
            </tr>
            <tr>
                <td>F</td>
                <td>G</td>
                <td>D</td>
                <td>C</td>
            </tr>
            <tr>
                <td>B&#x266d</td>
                <td>C</td>
                <td>G</td>
                <td>F</td>
            </tr>
            <tr>
                <td>E&#x266d</td>
                <td>F</td>
                <td>C</td>
                <td>B&#x266d</td>
            </tr>
        </tbody>
    </table>
{% endblock %}