{% extends "layout.html" %}

{% block title %}
    Join
{% endblock %}

{% block alert %}
    <h4 class="alert-heading">Welcome!</h4>
    <p class="mb-0">Enter your name below and click Join. You'll only see this is if its your first time visiting the site!</p>
{% endblock %}

{% block main %}
    <form action="/join" method="post">
        <div class="mb-1">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text">
        </div>
        <div class="form-text mb-3">
            Enter your name in one of the following formats: <br>
            George Washington // George // George W
        </div>
        <button class="btn btn-primary" type="submit">Join</button>
    </form>
{% endblock %}